@use "../../styles/mixins" as *;

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: var(--clr-neutral-200);
  box-shadow: var(--box-shadow-light);
  border-radius: 8px;
}

.header {
  text-align: center;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    margin: 0;
    font-size: 2rem;
    color: var(--clr-neutral-900);
  }

  p {
    margin: 5px 0;
    color: var(--clr-neutral-700);
  }
}

.section {
  margin-bottom: 20px;

  h2 {
    font-size: 1.5rem;
    color: var(--clr-neutral-800);
    // background: var(--clr-neutral-400);
    padding: 10px;
    border-radius: 5px;
    border-bottom: none;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
    color: var(--clr-neutral-700);
  }
}


.membersCount {
  font-size: 0.8em; 
  vertical-align: middle; 
  color: var(--clr-neutral-700);
  font-weight:normal;
}

.factionLogo {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  align-self: center;
}
