@use "../../styles/mixins" as *;

.container {
  max-width: 900px;
  margin:auto;
  padding: 20px;
  border-radius: 8px;
}

.header {
  display: flex;
  justify-content: space-between; /* Align content to edges */
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  margin-bottom: 1rem;

  .headerContent {
    display: flex;
    flex-direction: column; /* Stack text items vertically */
    gap: 0.5rem;
    flex: 1; /* Take up remaining space */
  }

  .factionLogo {
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    @include mobile() {
      display: none;
    }
  }

  .characterDetails {
    display: flex;
    flex-direction: column;

    .characterName {
      margin: 0;
      font-size: 2rem;
      color: var(--clr-neutral-900);
      font-weight: bold;
    }

    .characterRank,
    .characterServer,
    .characterStatus {
      margin: 5px 0;
      // color: var(--clr-neutral-700);
      font-size: 1rem;
    }

    .characterRank {
      font-weight: bold;
    }

    .statusDot {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-right: 5px;
    }

    .statusText {
      display: inline;
      font-size: 1rem;
    }
  }
}

.section {
  margin-bottom: 20px;
  // background:red;

  h2 {
    font-size: 1.5rem;
    color: var(--clr-neutral-800);
    background: var(--clr-neutral-300);
    padding: 10px;
    border-radius: 5px;
    border-bottom: none;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
    color: var(--clr-neutral-700);
  }
}

.statsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.stat {
  flex: 1 1 48%;
  background: var(--clr-neutral-200);
  padding: 10px;
  border: 1px solid var(--clr-neutral-500);
  border-radius: 5px;

  p {
    margin: 0;
    color: var(--clr-neutral-900);
  }

  strong {
    color: var(--clr-neutral-800);
  }
}

.errorContainer {
  text-align: center;
  margin-top: 50px;

  h1 {
    color: var(--clr-neutral-950);
  }

  p {
    color: var(--clr-neutral-700);
  }
}

.friendsCount {
  font-size: 0.8em;
  vertical-align: middle;
  color: var(--clr-neutral-700);
  font-weight: normal;
}


.progressBarContainer {
  width: 100%; 
  background-color: #8f8f8f3d; 
  border-radius: 10px;
  height: 10px;
  margin-top: 10px;
  overflow: hidden;
  position: relative;
}

.progressBar {
  height: 100%;
  background-color: #4caf50; 
  transition: width 0.3s ease-in-out;
}

.progressText {
  margin-top: 5px;
  font-size: 0.9rem;
  color: #666;
}

.nextLevel {
  color: #888;
}