.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background: var(--clr-neutral-200);
  box-shadow: var(--box-shadow-light);
  border-radius: 8px;
}

.header {
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--clr-neutral-500);

  h1 {
    margin: 0;
    font-size: 2rem;
    color: var(--clr-neutral-900);
  }

  p {
    margin: 5px 0;
    color: var(--clr-neutral-700);
  }
}

.section {
  margin-bottom: 20px;

  h2 {
    font-size: 1.5rem;
    color: var(--clr-neutral-800);
    background: var(--clr-neutral-400);
    padding: 10px;
    border-radius: 5px;
    border-bottom: none;
    margin-bottom: 10px;
  }

  p {
    margin: 5px 0;
    color: var(--clr-neutral-700);
  }
}

.statsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.stat {
  flex: 1 1 48%;
  background: var(--clr-neutral-300);
  padding: 10px;
  border: 1px solid var(--clr-neutral-500);
  border-radius: 5px;

  p {
    margin: 0;
    color: var(--clr-neutral-900);
  }

  strong {
    color: var(--clr-neutral-800);
  }
}

.errorContainer {
  text-align: center;
  margin-top: 50px;

  h1 {
    color: var(--clr-neutral-950);
  }

  p {
    color: var(--clr-neutral-700);
  }
}

.statusDot {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-left: 8px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.statusDot.online {
  background-color: green;
}

.statusDot.offline {
  background-color: red;
}

.statusDot::after {
  content: attr(data-tooltip);
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.statusDot:hover::after {
  opacity: 1;
}

.friendsCount {
  font-size: 0.8em; 
  vertical-align: middle; 
  color: var(--clr-neutral-700);
  font-weight:normal;
}

.tableContainer {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid var(--clr-neutral-500);
  background-color: var(--clr-neutral-200);
  border-radius: 8px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  font-size: 0.9rem;
}

.table th,
.table td {
  padding: 8px 12px;
  border-bottom: 1px solid var(--clr-neutral-400);
}

.table th {
  color: var(--clr-neutral-800);
  font-weight: bold;
  position: sticky; 
  top: 0; 
  z-index: 2; 
  background-color: var(--clr-neutral-300); 
}

.table td {
  color: var(--clr-neutral-700);
}

.table tr:last-child td {
  border-bottom: none;
}

.table tr:hover {
  background-color: var(--clr-neutral-300);
}
